<div class="row" *ngIf="state">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div style="margin-top: 5px;" class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" #txtPassword>
        </div>
        <div class="mb-3">
            <label for="passwordConfirm" class="form-label">Password Confirm</label>
            <input type="password" class="form-control" id="passwordConfirm" placeholder="Password Confirm" #txtPasswordConfirm>
            <button type="button" style="margin-top: 10px;" (click)="updatePassword(txtPassword.value,txtPasswordConfirm.value)" class="btn btn-success">Şifreyi Güncelle</button>
          </div>
          
    </div>
    <div class="col-md-4"></div>
</div>

<div class="alert alert-danger" role="alert" *ngIf="!state">
    Geçersiz link!
  </div>