<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
              Email Confirmation
            </div>
            <div class="card-body">
              <h5 class="card-title">Welcome</h5>
              <p class="card-text">We're excited to have you get started. First, you need to confirm your account. Just press the button below.</p>
              <button (click)="confirmEmail()" class="btn btn-primary">Verify Email</button>
            </div>
          </div>
    </div>
    <div class="col-md-4"></div>

    
</div>
