<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com" #txtEmail>
            <button type="button" style="margin-top: 10px;" (click)="passwordReset(txtEmail.value)" class="btn btn-success">Gönder</button>
          </div>
          
    </div>
    <div class="col-md-4"></div>
</div>