.product-image-card {
    max-width: 200px;
    float: left;
    margin-left: 5px;
  }
  
  .product-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }